.home-card {
  background: rgba(149,149,149,0.2);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  width: 35%;
}

#welcome {
  font-size: 52px;
}

#github {
  /*margin-top: 10px;*/
  font-size: 90px;
}

@media (max-width: 1200px) {
  #github {
    font-size: 70px;
  }
}

@media (max-width: 1201px) {
  #welcome {
    font-size: 45px;
  }
}

@media (max-width: 993px) {
  #welcome {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  #github {
    font-size: 65px;
  }
}

@media (max-width: 991px) {
  .home-card {
    width: 45% !important;
  }
}

@media (max-width: 767px) {
  .home-card {
    width: 55% !important;
  }
}

@media (max-width: 769px) {
  #welcome {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  #github {
    font-size: 60px;
  }
}

@media (max-width: 575px) {
  .home-card {
    width: 100% !important;
  }
}

@media (max-width: 301px) {
  #welcome {
    font-size: 30px;
  }
}

@media (max-width: 300px) {
  #github {
    font-size: 55px;
  }
}

@media (max-width: 1201px) {
  .home-card {
    width: 40%;
  }
}

body {
  background: url("../../assets/img/bg1.jpg") top / cover no-repeat;
}

